# Hardhat Deployment (Sepolia)
SEPOLIA_URL="https://sepolia.infura.io/v3/YOUR_INFURA_KEY"
PRIVATE_KEY="YOUR_ADMIN_PRIVATE_KEY"
CONTRACT_ADDRESS="0x4db67F3D46D212895484C24A54c5b10cA07b61F5"

# Frontend (Vite)
VITE_CONTRACT_ADDRESS="0x4db67F3D46D212895484C24A54c5b10cA07b61F5"
VITE_SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/YOUR_INFURA_KEY"
VITE_API_URL="http://localhost:5000/api"
